/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #004692b3;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.logoI a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.logoI a:hover {
  color: #ff6340;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1100; /* To ensure it stays above the menu */
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Hamburger toggle animation */
.hamburger.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #ff6340;
  transform: scale(1.1);
}

/* Register Button */
.register-button {
  background-color: #ff6340;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.register-button:hover {
  background-color: #ff4081;
}

/* Mobile Navigation Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #001e3c;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li a {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 10px 0;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .nav-links li a:hover {
    color: #ff6340;
    transform: scale(1.1);
  }

  .register-button {
    font-size: 1.3rem;
    padding: 15px 25px;
  }

  /* Prevent body scroll when menu is open */
  body.menu-open {
    overflow: hidden;
  }
}
